<div id="idea" class="main slide section">
    <div class="content right yellow-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;right:-2000px" data-400-top="opacity:1;right:10px">
                    <h1 class="header-font">A Powerful Idea</h1>
                    <p>Maybe you’ve just had an idea. Or maybe your existing product line needs to be reworked.</p>
                    <p>Regardless of where you are in your creative process, a powerful idea is key to any true innovation. But taking an idea, protecting it, nurturing it, and bringing it to life? That’s where we come in.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon">
                <%= image_tag "home/icons/idea.png" %>
                IDEA
            </span>
        </div>
    </div>
</div>

<div id="collaboration" class="main slide section">
    <div class="content left purple-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;left:-2000px" data-400-top="opacity:1;left:10px">
                    <h1 class="header-font">COLLABORATION &amp; DISCOVERY</h1>
                    <p>Your process starts with an idea. Our process starts with collaboration and teamwork.</p>
                    <p>Our goal is to give you access to as many experienced minds as possible. This is where exciting possibilities are discovered.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/collaboration.png" %>
                COLLABORATION
            </span>
        </div>
    </div>
</div>

<div id="research" class="main slide section">
    <div class="content right blue-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;right:-2000px" data-400-top="opacity:1;right:10px">
                    <h1 class="header-font">RESEARCH &amp; DISCOVERY</h1>
                    <p>After we’ve explored our most creative ideas, it’s important to do exhaustive research.</p>
                    <p>Our research process takes a deep dive into innovation specs, patent searches, competitive market analysis, innovation materials, project steps, and feasibility analysis.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/collaboration.png" %>
                RESEARCH
            </span>
        </div>
    </div>
</div>

<div id="design" class="main slide section">
    <div class="content left purple-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;left:-2000px" data-400-top="opacity:1;left:10px">
                    <h1 class="header-font">THE DESIGN</h1>
                    <p>Ideas are one thing. A fully functioning, technologically advanced, bug free product is certainly another.</p>
                    <p>In this phase, our design teams confirm specs, determine timelines, confirm a statement of work, create innovative design options, and decide on materials and components.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/design.png" %>
                DESIGN
            </span>
        </div>
    </div>
</div>

<div id="engineering" class="main slide section">
    <div class="content right orange-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;right:-2000px" data-400-top="opacity:1;right:10px">
                    <h1 class="header-font">ENGINEERING</h1>
                    <p>This phase marks the core moment of your invention cycle: the development of a working prototype of your innovative new product.</P>
                    <P>Ingenius engineering is the most important aspect of any innovation. By pairing your idea with precisely the right construction and capabilities, we ensure that it’s poised to succeed in the marketplace.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/engineering.png" %>
                ENGINEERING
            </span>
        </div>
    </div>
</div>

<div id="prototyping" class="main slide section">
    <div class="content left green-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;left:-2000px" data-400-top="opacity:1;left:10px">
                    <h1 class="header-font">PROTOTYPING &amp; BEYOND</h1>
                    <p>Once we’ve brought a prototype to life, we will handle logistical tasks including the patenting and IP process, innovation support and warranty needs, software and inventory platforms, packaging, and legal disclaimers.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/prototyping.png" %>
                PROTOTYPING
            </span>
        </div>
    </div>
</div>

<div id="testing" class="main slide section">
    <div class="content right blue-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;right:-2000px" data-400-top="opacity:1;right:10px">
                    <h1 class="header-font">TESTING &amp; REFINEMENT</h1>
                    <p>When your new prototype is fully functioning, we begin the process of surveying and a series of rigorous tests designed specific for your product.</p>
                    <p>Our findings during this phase will inform any changes we need to make as we move into final production.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/testing.png" %>
                TESTING
            </span>
        </div>
    </div>
</div>

<div id="logistics" class="main slide section">
    <div class="content left purple-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;left:-2000px" data-400-top="opacity:1;left:10px">
                    <h1 class="header-font">MARKETING &amp; LOGISTICS</h1>
                    <p>In the first step of the production phase, we provide you with a production proposal that includes specifications, timelines, and pricing.</p>
                    <p>As we move the product into production, we’ll also create operation manuals, product information sheets, software support platforms, and a distribution strategy.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/production.png" %>
                MARKETING &amp; LOGISTICS
            </span>
        </div>
    </div>
</div>

<div id="production" class="main slide section">
    <div class="content right light-green-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12" data-0="opacity:0;right:-2000px" data-400-top="opacity:1;right:10px">
                    <h1 class="header-font">PRODUCTION</h1>
                    <p>It’s time to introduce the world to your creation – to put it into consumers hands and change their lives.</p>
                    <p>This is the stage when the real ROI (Return On Invention) begins, the stage that makes all the hard work worthwhile.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/distribution.png" %>
                PRODUCTION
            </span>
        </div>
    </div>
</div>
