<%= form_for @service_request, html: { role: "form", class: "form-horizontal" } do |f| %>
  <%= render 'shared/errors', object: @service_request if @service_request.errors.any? %>
  
  <div class="form-group">
    <h2>Shipping Information</h2>
    <%= f.collection_select :customer_id, @customers.uniq, :id, :contact_email, {prompt: "Please select a customer"}, {id: nil} %>
  </div>
  
    <div class="form-group">
      <h2>Service Information</h2>
    </div>
  
    <div class="form-group">
      <%= f.label :troubleshooting_reference, "Explain what is wrong", class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :troubleshooting_reference, class: "form-control" %> 
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :rma, "RMA", class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :rma, class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <h2>Items</h2>
    </div>
  
    <div id="template">
      <%= render 'nested_form', f: f, child_index: Time.now.to_i, build_new: false %>
    </div>
  
    <div id="blank_template" style="display: none">
      <%= render 'nested_form', f: f, child_index: 'index_to_replace_with_js', build_new: true %>
    </div>
  
    <div id="nested_items"></div>
  
    <div class="form-group">
      <div class="col-md-5 col-md-offset-8">
        <%= link_to "#", class: 'add_more' do %>
          Add <%= fa_icon "plus" %>
        <% end %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :additional_information, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :additional_information, class: "form-control" %>
      </div>
    </div>
  
  <% if current_user.has_role?(:superadmin) %>
    <div class="form-group">
      <%= f.label :ship_date, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.date_select :ship_date, class: "form-control", prompt: { day: 'Select Day', month: 'Select Month', year: 'Select Year' } %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :carrier, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :carrier, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :tracking_number, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :tracking_number, class: "form-control" %>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="col-md-10">
      <%= f.submit "Submit", class: "btn btn-success", data: { disable_with: "Processing..." } %>
    </div>
  </div>
  
<% end %>