<%= form_for [@company, @service_request], html: { role: "form", class: "form-horizontal" } do |f| %>
  <%= render 'shared/errors', object: @service_request if @service_request.errors.any? %>

  <div class="form-group">
    <h2>Shipping Information</h2>
    <%= f.fields_for :customer do |customer| %>
      <%= render partial: 'customers/form', locals: {f: customer, extra_shipping_fields: []} %>
    <% end %>
  </div>

    <div class="form-group">
      <h2>Service Information</h2>
    </div>

    <div class="form-group">
      <%= f.label :troubleshooting_reference, "Product Concern", class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :troubleshooting_reference, class: "form-control" %>
      </div>
    </div>

    <% if @company.can_report_rma? %>
      <div class="form-group">
        <%= f.label :rma, "RMA", class: "col-md-4 control-label" %>
        <div class="col-md-5">
          <%= f.text_field :rma, class: "form-control" %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <h2>Items</h2>
    </div>

    <div id="template">
      <%= render 'nested_form', f: f, sr: @service_request %>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-8">
        <%= f.add_nested_fields_link :line_items %>
      </div>
    </div>

  <% if can?(:manage, @service_request) %>
    <div class="form-group">
      <%= f.label :ship_date, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.date_select :ship_date, class: "form-control", prompt: { day: 'Select Day', month: 'Select Month', year: 'Select Year' } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :carrier, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :carrier, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tracking_number, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :tracking_number, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <% if @service_request.needs_approval? %>
    <div class="form-group">
      <div class="col-md-10">
        <%= f.submit "Approve", class: "btn btn-success", data: { disable_with: "Processing..." } %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <div class="col-md-10">
        <%= f.submit "Submit", class: "btn btn-success", id: "#{'submit_sr_btn' unless @service_request.new_record?}", data: { disable_with: "Processing..." } %>
      </div>
    </div>
  <% end %>

<% end %>
