<% client_name = @company.name.parameterize.underscore %>

<%= f.fields_for :line_items, (f.object.line_items.build if build_new), child_index: child_index do |item| %>
  <div class="form-group">
    <%= item.label :item_type, "Type", class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.select :item_type, item_type_options(client_name), class: "form-control", id: nil, prompt: true %>
    </div>
  </div>

  <div class="form-group">
    <%= item.label :model_number, "Model", class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.text_field :model_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= item.label :serial_number, class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.text_field :serial_number, class: "form-control" %>
    </div>
  </div>

  <% if @company.needs_more_info? %>

    <div class="hide additional-info">
      <div class="form-group">
        <%= item.label :activation_id, "Activation ID Number", class: "col-md-4 control-label" %>
        <div class="col-md-5">
          <%= item.text_field :activation_id, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= item.label :warranty_void, "Warranty Void Number", class: "col-md-4 control-label" %>
        <div class="col-md-5">
          <%= item.text_field :warranty_void, class: "form-control" %>
        </div>
      </div>
    </div>

  <% end %>

  <div class="form-group">
    <%= item.label :additional_information, class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.text_field :additional_information, class: "form-control" %>
    </div>
  </div>

  <div class="form-group hide remove-line-item">
    <%= link_to "Remove", "#", class: "col-md-4 text-right" %>
  </div>
<% end %>
