<% content_for :page_title do %>
  <h2>You are editing Service Request <%= @service_request.case_number %></h2>
<% end %>

<div class="row">

  <div class="col-md-9 col-md-offset-3">
    <% if can?(:manage, Note) %>
      <%= button_tag class: "btn btn-primary pull-right", data: { toggle: "modal", target: "##{@service_request.case_number}-note" } do %>
        Add Note
      <% end %>
    <% end %>

    <p>Use the form below to edit <%= @service_request.case_number %></p>
    <% if can?(:manage, @service_request) %>
      <%= render 'form' %>
    <% else %>
      <%= render :show %>
    <% end %>
  </div>

</div>

<% if can?(:manage, Note) %>
  <%= render 'notes/form', object: @service_request %>
<% end %>
