<% content_for :page_title do %>
  <h2><%= convert_opened_to_open(params[:status], upcase: true).camelize if params[:status] %> Service Requests</h2>

  <%= render 'shared/search_form', url: company_service_requests_path, placeholder: "Service Requests" %>

<% end %>

<div class="row">

  <div class="col-md-9 col-md-offset-3">
      <% if can?(:create, ServiceRequest) %>
        <%= link_to "Create New Service Request", new_company_service_request_path, class: "btn btn-primary #{:'pull-right' unless @service_requests.empty?}" %>
      <% end %>

      <% unless @service_requests.empty? %>

        <p>Your current Service Requests</p>

        <table class="table table-striped table-condensed" id="service-requests-table">
          <tr>
            <td>Name</td>
            <td>Case Number</td>
            <td>Date Submitted</td>
            <td>Status</td>
            <td>Actions</td>
          </tr>
          <%= render @service_requests %>
        </table>

        <%= will_paginate @service_requests, renderer: BootstrapPagination::Rails %>

      <% else %>
        <h2>No Results Found</h2>
      <% end %>
  </div>

</div>
