<% sr = @service_request %>

<% content_for :page_title do %>
  <h2>Viewing Service Request <%= sr.id %></h2>

  <% if can?(:manage, sr) %>
    <%= link_to "Edit Service Request", edit_company_service_request_path(company_id: sr.company_id, id: sr.id), class: "btn btn-primary pull-right" %>
  <% end %>

<% end %>

<div class="row">
  <div class="col-md-5 col-md-offset-3">

    <div id="customer-info">
      <h3>Customer Information <%= link_to("Edit", "#", class: "badge", id: "edit-customer-info", data: { toggle: "modal", target: "#customer-info-#{sr.id}" }) if sr.pending? %></h3>
      <p>
        <%= sr.customer_full_name %><br />
        <%= sr.customer.shipping_information.address %><br />
        <% if sr.customer.shipping_information.address2.present? %>
          <%= sr.customer.shipping_information.address2 %><br />
        <% end %>
        <%= sr.customer.shipping_information.city %>, <%= sr.customer.shipping_information.state %> <%= sr.customer.shipping_information.zip_code %><br />
        <%= sr.customer.shipping_information.country %><br />
        <%= sr.customer.contact_email %><br />
        Address Type: <%= sr.customer.shipping_information.address_type %>
      </p>
    </div>

    <% if sr.closed? %>
      <p>
        <% if sr.ship_date.present? %>
          Ship Date: <%= sr.try(:formatted_time, :ship_date) %><br />
        <% end %>
        Carrier: <%= sr.carrier %><br />
        Tracking Number: <%= sr.tracking_number %>
      </p>
    <% end %>

    <h3>
  </div>

  <div class="col-md-4">
    <h3>Case Information</h3>
    <p>Case Number: <%= sr.id %></p>
    <p>Company: <%= sr.company.try(:name) %></p>
    <p>T. Reference: <%= sr.troubleshooting_reference %></p>
    <p>RMA: <%= sr.rma %></p>
    <p>
      Products:
        <%= render sr.line_items %>
    </p>
    <p>Representative: <%= sr.creator %></p>
    <p>Submit Date: <%= sr.formatted_time %></p>
    <% if sr.closed? %>
      <% if sr.completed_at.present? %>
        <p>Completion Date: <%= sr.formatted_time(:completed_at) %></p>
      <% end %>
    <% end %>

    <h3>Note from ARCiPLEX</h3>
    <% if sr.note.present? %>
      <p><%= sr.note.description %></p>
    <% end %>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="customer-info-<%= sr.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Customer Information for Service Request <%= sr.id %></h4>
      </div>
      <%= render 'shared/customer_information_form', object: sr %>
    </div>
  </div>
</div>
