<div class="container" id="breadcrumbs">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2" id="signed-in-info">
        <ol class="breadcrumb">
          <li>
            <% if current_user.companies.many? %>
              <%= link_to admin_path do %>
                <%= fa_icon "home"  %> Home
              <% end %>
            <% else %>
              <%= link_to company_service_requests_path do %>
                <%= fa_icon "home"  %> Home
              <% end %>
            <% end %>
          </li>
          <li>
            <%= mail_to "mrfixit@arciplex.com" do %>
              <%= fa_icon "support" %> Help
            <% end %>
          </li>
        </ol>
        <span>Welcome, <%= current_user.full_name %></span>

        <% if current_company && current_company.show_user_guides? %>
          <%= render 'shared/user_guides', company_name: current_company.name, controller: params[:controller] %>
        <% end %>

        <% if params[:company_id] %>
          <p class="company-logo"><%= display_logo(params[:company_id]) %></p>
        <% end %>
      </div>

      <div class="col-md-9 col-md-offset-1">
        <%= content_for?(:page_title) ? content_tag(:h1, content_for(:page_title)) : "Page Title" %>

        <%= js flash_messages %>
      </div>
    </div>
  </div>
</div>
