<div class="container" id="breadcrumbs">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2" id="signed-in-info">
        <ol class="breadcrumb">
          <li>
            <%= link_to service_requests_path do %>
              <%= fa_icon "home"  %> Home
            <% end %>
          </li>
        </ol>
        <span>Welcome, <%= current_user.full_name %></span>
        <% if current_user.admin? %>
          <% if session[:admin_company_id] %>
            <p class="company-logo"><%= display_logo(session[:admin_company_id]) %></p>
          <% end %>
        <% end %>
      </div>
      
      <div class="col-md-9 col-md-offset-1">
        <%= content_for?(:page_title) ? content_tag(:h1, content_for(:page_title)) : "Page Title" %>
        
        <%= js flash_messages %>
      </div>
    </div>
  </div>
</div>