<%= form_for [@company, @order], html: { role: "form", class: "form-horizontal" } do |f| %>
  <%= render 'shared/errors', object: @order if @order.errors.any? %>

  <div class="form-group">
    <h2>Shipping Information</h2>
    <%= f.fields_for :customer do |customer| %>
      <%= render partial: 'customers/form', locals: {f: customer, extra_shipping_fields: [:company_name]} %>
    <% end %>
  </div>

    <div class="form-group">
      <h2>Items</h2>
    </div>

    <div id="template">
      <%= render 'nested_form', f: f, child_index: Time.now.to_i, build_new: false, order: @order %>
    </div>

    <div id="blank_template" style="display: none">
      <%= render 'nested_form', f: f, child_index: 'index_to_replace_with_js', build_new: true, order: @order %>
    </div>

    <div id="nested_items"></div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-8">
        <%= link_to "#", class: 'add_more' do %>
          Add <%= fa_icon "plus" %>
        <% end %>
      </div>
    </div>

  <% if current_user.has_role?(:admin) || current_user.has_role?(:shipping_vendor) %>
    <div class="form-group">
      <%= f.label :ship_date, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.date_select :ship_date, class: "form-control", prompt: { day: 'Select Day', month: 'Select Month', year: 'Select Year' } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :carrier, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :carrier, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tracking_number, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :tracking_number, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-10">
      <%= f.submit "Submit", class: "btn btn-success", data: { disable_with: "Processing..." } %>
    </div>
  </div>

<% end %>
