<% client_name = @company.name.downcase %>

<%= f.fields_for :order_line_items, (f.object.order_line_items.build if build_new), child_index: child_index do |item| %>
  <div class="form-group">
    <%= item.label :item, class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.select :item, item_type_options(client_name), class: "form-control", id: nil, prompt: true %>
    </div>
  </div>

  <div class="form-group">
    <%= item.label :quantity, class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.text_field :quantity, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= item.label :serial_number, class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.text_field :serial_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= item.label :additional_information, class: "col-md-4 control-label" %>
    <div class="col-md-5">
      <%= item.text_field :additional_information, class: "form-control" %>
    </div>
  </div>
<% end %>
