<% needs_more_info = sr.company.needs_more_info? %>

<table width="100%">
  <tr>
    <th style="text-align: left">Description</th>
    <th style="text-align: left">Model</th>
    <th style="text-align: left">Serial Number</th>
    <% if needs_more_info %>
      <th style="text-align: left">Activation ID Number</th>
      <th style="text-align: left">Warranty Void Number</th>
    <% end %>
    <th style="text-align: left">Troubleshooting Reference</th>
  </tr>
  <% items.each do |item| %>
    <tr>
      <td><%= item.item_type %></td>
      <td><%= item.model_number %></td>
      <td><%= item.serial_number %></td>

      <% if needs_more_info %>
        <td><%= item.activation_id %></td>
        <td><%= item.warranty_void %></td>
      <% end %>

      <td><%= sr.troubleshooting_reference %></td>
    </tr>
  <% end %>
</table>
