<!DOCTYPE html>
<html>
<head>
  <title>Arciplex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= google_webfonts_link_tag "Lato" => [300, 400] %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :modernizr %>

  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body class="home">

<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="<%= root_path %>"></a>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-no-turbolink="true">Process <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li class="slideTo"><a href="#idea" data-no-turbolink="true">Idea</a></li>
                        <li class="slideTo"><a href="#collaboration" data-no-turbolink="true">Collaboration</a></li>
                        <li class="slideTo"><a href="#research" data-no-turbolink="true">Research</a></li>
                        <li class="slideTo"><a href="#design" data-no-turbolink="true">Design</a></li>
                        <li class="slideTo"><a href="#engineering" data-no-turbolink="true">Engineering</a></li>
                        <li class="slideTo"><a href="#prototyping" data-no-turbolink="true">Prototyping</a></li>
                        <li class="slideTo"><a href="#testing" data-no-turbolink="true">Testing</a></li>
                        <li class="slideTo"><a href="#production" data-no-turbolink="true">Production</a></li>
                        <li class="slideTo"><a href="#distribution" data-no-turbolink="true">Distribution</a></li>
                    </ul>
                </li>
                <li class="slideTo"><a href="#about-us" data-no-turbolink="true">About</a></li>
                <li class="slideTo"><a href="#contact-us" data-no-turbolink="true">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="brochure-container">
    <%= render 'shared/home/home_section' %>
    <%= render 'shared/home/main_section' %>
    <%= render 'shared/home/about_us' %>
    <%= render 'shared/home/contact_us' %>
</div>

</body>
</html>
